<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="css/navbar.css" />
    <link rel="stylesheet" href=" css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <section>
      <nav>
        <div class="leftNav">
          <ul>
            <li>
              <img src="images/Asset 2.png" alt="" />
            </li>
            <li><a href="/" id="active" class="itemCollapse">Home</a></li>
             {{#if isLogin}}
            <li><a href="/myProject" class="itemCollapse">Add Project</a></li>
             {{/if}}
          </ul>
        </div>
        <div class="rightNav">
          {{#if isLogin}}
          <a class="form" id="active" href="#">Hi, {{user}}</a>
          <a class="form" href="/logout">Log out</a>
          {{else}}
          <a class="form"  href="/register">Register</a>
          <a class="form" href="/login">Login</a>
          {{/if}}
          <a href="/contact" class="itemCollapse">Contact Me</a>
          <button onclick="openDropMenu()"><i class="fa-solid fa-bars"></i></button>
        </div>
      </nav>
      <div class="dropMenu-container" id="dropMenu-container">
        <div><a href="/" id="aktif">Home</a></li></div>
         {{#if isLogin}}
        <div><a href="/myProject">Add Project</a></li></div>
        {{/if}}
        <div><a href="/contact">Contact Me</a></div>
      </div>
      <!-- navbar ends -->

      <span onclick="darkMode()">🌗</span>
      <script>
        function darkMode() {
          document.querySelector("section").classList.toggle("darkMode");
        }
      </script>
      <!-- darMode ends -->
      {{#if messages.succes}}
       <h3 class="alert">{{messages.succes}}</h3>
      {{/if}}      
      <div class="mainContainer">
        <div class="leftContainer">
          <h2>Welcome To <span class="judul">My Hut</span></h2>
          
          <p><img src="images/Asset 2.png" alt="">
            Nam ut vulputate ex. Sed sit amet iaculis mauris, non elementum ex. Ut euismod, turpis vel molestie ullamcorper, tellus dui sollicitudin velit, in laoreet orci sapien at ex. Donec tincidunt diam ac neque porttitor dignissim.
            Donec suscipit fringilla sem, nec facilisis urna commodo ac. Vivamus viverra mattis mauris nec laoreet. Aliquam dictum massa sem, eget pretium mauris vehicula non. Etiam ac enim non lorem elementum dictum eu eget leo. suscipit
            fringilla sem, nec facilisis urna commodo ac. Vivamus viverra mattis mauris nec laoreet. Aliquam dictum massa sem, eget pretium mauris vehicula non. Etiam ac enim non lorem elementum dictum eu eget leo.Nam ut vulputate ex.
          </p>
          <div class="hrefContainer">
            <a href="https://wa.me/081218634019" class="contact">Contact</a>
            <a href="images/no created.pdf" class="downloadCV">Download CV<i class="fa-solid fa-download"></i></a>
          </div>
          <div class="medsosContainer">
            <a href="https://www.instagram.com/jerryhp__/" class="medsos"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/jerry-hutari-putra-64b4a2217/" class="medsos"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://web.facebook.com/jerry.hutariputra" class="medsos"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.tiktok.com/@jerryhp__" class="medsos"><i class="fa-brands fa-tiktok"></i></a>
          </div>
        </div>
        <div class="rightContainer">
          <div>
            <img src="images/new.png" alt="Photo" />
          </div>
          <h3>Jerry Hutari Putra</h3>
          <p>Fullstack Developer</p>
        </div>
      </div>
    </section>

     <!-- blog -->
<h3 class="blogs-title">My Project</h3>
    <div class="blogsContainer">
      {{#each projectData}}
      <div class="cardContainer">
        <img src="{{this.image}}" alt="gambar" />
        <a href="/blogDetail/{{@index}}">{{this.title}}</a>
        <h6 style="font-style: italic;">Author: {{author}} | Duration: {{this.duration}}</h6>
        <p>
          {{this.content}}
        </p>
        <div class="technologi">
         {{#if this.reactjs}}<i class="fa-brands fa-react"></i>{{else}}{{/if}}
         {{#if this.nodejs}}<i class="fa-brands fa-node-js"></i>{{else}}{{/if}}
         {{#if this.nextjs}}<i class="fa-brands fa-square-js"></i>{{else}}{{/if}}
         {{#if this.typescript}}<i class="fa-regular fa-compass"></i>{{else}}{{/if}}
        </div> 
        {{#if this.isLogin}} 
        <div class="buttonContainer">
          <a href="/edit-blog/{{this.id}}">Edit</a>
          <a href="/delete-blog/{{this.id}}">Delete</a>
        </div>
        {{/if}}
      </div>
      {{/each}}
      
    </div>
    <script src="js/darkMode.js"></script>
    <script src="js/navbar.js"></script>
  </body>
</html>
